h1 {
    border-bottom: solid 2px #3498db;
    padding-bottom: 5px;
    color: #2c3e50;
}

h2 {
    padding-left: 10px;
    border-left: solid 4px #2c3e50;
}

div a {
    margin-right: 5px;
    text-decoration: none;
    color: #3498db;
}

button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 8px 12px;
}