{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">Top</a>
      <a href="{% url 'delete' task.id %}">Delete</a>
      <a href="{% url 'update' task.id %}">Edit</a>
      <a href="{% url 'close' task.id %}">Close</a>
    </div>

    <hr>

    <h2>コメント一覧</h2>
    {% for comment in comments %}
      <p><strong>{{ comment.name }}</strong>：{{ comment.body }}</p>
    {% empty %}
      <p>コメントはまだありません。</p>
    {% endfor %}

    <h3>コメントを投稿する</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">コメント投稿</button>
    </form>

  </body>

</html>
